[Unit]
Description=Start btattach for UBlox on ttymxc1

[Service]
Type=simple
ExecStart=/usr/bin/btattach --bredr /dev/ttymxc1 -S 1000000

[Install]
WantedBy=multi-user.target
