[Unit]
Description=Start btattach for UBlox on ttymxc2

[Service]
Type=simple
ExecStart=/usr/bin/btattach --bredr /dev/ttymxc2 -S 1000000 -N

[Install]
WantedBy=multi-user.target
